<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <footer th:fragment="footer">
        <!-- <div class="fixed-bottom mx-0 bg-primary-75 text-left text-white">
            <h5>タスク管理</h5>
        </div>
        As a link -->
		<nav class="navbar navbar-light fixed-bottom mx-0 navbar-dark bg-secondary text-left ">
		  <div class="container-fluid">
		    <span class="navbar-brand">タスク管理</span>
		  </div>
		</nav>
    </footer>
</body>
</html>