<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{block/header::meta_header('タスク詳細',~{::link},~{::script})}">
    <script type="text/javascript" th:src="@{/js/common/form.js}"></script>
    <script type="text/javascript" th:src="@{/js/task_detail.js}"></script>
</head>
<body>
    <div th:replace="~{block/header::header}"></div>
    <h2 class="mt-4 mb-4 text-center">タスク詳細</h2>
    <form class="row mt-4 needs-validation" method="POST" action="#" th:action="@{/task}" th:object=${task} novalidate>
        <div class="row mb-4 justify-content-center">
            <label for="id" class="col-sm-1 form-label">ID</label>
            <div class="col-sm-2">
                <input id="id" class="pt-0 form-control-plaintext" readonly tabindex="-1" name="id" type="text" th:field="*{id}">
            </div>
        </div>
        <div class="row mb-4 justify-content-center">
            <label for="title" class="col-sm-1 form-label">タイトル</label>
            <div class="col-sm-2">
                <input id="title" class="form-control title-validate" name="title" type="text" th:field="*{title}" required>
                <div class="invalid-feedback title-err-msg">タイトルが不正です</div>
            </div>
        </div>
        <div class="row mb-4 justify-content-center">
            <label for="comment" class="col-sm-1 form-label">コメント</label>
            <div class="col-sm-2">
                <textarea id="comment" class="form-control textarea-validate" name="comment" rows="5" cols="40" th:field="*{comment}" required></textarea>
                <div class="invalid-feedback textarea-err-msg">コメントが不正です</div>
            </div>
        </div>
        <div class="row mb-4 justify-content-center">
            <label for="priority" class="col-sm-1 form-label">優先度</label>
            <div class="col-sm-2">
                <select class="form-select" name="priority">
                    <option 
                        th:each="priorityObj : ${priorityList}" 
                        th:value="${priorityObj.priority}" 
                        th:text="${priorityObj.priorityText}" >
                    </option>
                </select><br>
            </div>
        </div>
        <div class="row mb-4 justify-content-center">
            <label for="startTime" class="col-sm-1 form-label">開始日時</label>
            <div class="col-sm-2">
                <input id="startTime" class="form-control startTime-validate" name="startTime" type="datetime-local" th:value="*{startTime}" required>
                <div class="invalid-feedback startTime-err-msg">開始日が不正です</div>
            </div>
        </div>
        <div class="row mb-4 justify-content-center">
            <label for="endTime" class="col-sm-1 form-label">終了日時</label>
            <div class="col-sm-2">
                <input id="endTime" class="form-control endTime-validate" name="endTime" type="datetime-local" th:value="*{endTime}" required>
                <div class="invalid-feedback endTime-err-msg">終了日が不正です</div>
            </div>
        </div>
        <div class="row mb-4 justify-content-center">
            <label for="statusId" class="col-sm-1 form-label">ステータス</label>
            <div class="col-sm-2">
                <select class="form-select" name="statusId">
                    <option 
                        th:each="statusObj : ${statusList}" 
                        th:value="${statusObj.statusId}" 
                        th:text="${statusObj.statusText}" >
                    </option>
                </select><br>
            </div>
        </div>
        <div class="text-center mt-2">
            <input id="screen-type" type="hidden" th:value=${screenType} >
            <input class="btn btn-primary" id="update" type="submit" name="update" value="更新">
            <input class="btn btn-primary" type="button" name="delete" th:data-id="*{id}" data-bs-toggle="modal" data-bs-target="#deleteModal" value="削除">
            <input class="btn btn-secondary" id="cancel" type="button" name="cancel" value="キャンセル">
        </div>
    </form>
    <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">タスクを削除しますか？</h5>
                </div>
                <div class="modal-body">
                    <p>
                        指定したタスクを削除します。
                        <br>
                        削除したタスクは元に戻せません。
                        <br>
                    </p>
                    <p>タスクを削除しますか？</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" id="delete" href="#">削除</a>
                    <a class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</a>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{block/footer::footer}"></div>
</body>
</html>