<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{block/header::meta_header('タスク登録画面',~{::link},~{::script})}">
    <script type="text/javascript" th:src="@{/js/common/form.js}"></script>
</head>
<body>
    <div th:replace="~{block/header::header}"></div>
    <h2 class="mt-4 mb-4 text-center">タスク登録画面</h2>
    <form class="row mt-4 needs-validation" method="POST" action="#" th:action="@{/task/register}" th:object="${taskForm}" novalidate>
        <div class="row mb-4 justify-content-center">
            <label for="id" class="col-sm-1 form-label">ID</label>
            <div class="col-sm-2">
                <input id="id" class="pt-0 form-control-plaintext" name="id" type="text" th:field="*{id}">
            </div>
        </div>
        
        <div class="row mb-4 justify-content-center">
            <label for="title" class="col-sm-1 form-label">タイトル</label>
            <div class="col-sm-2">
                <input id="title" class="form-control title-validate" name="title" type="text" placeholder="例：英単語学習" th:field="*{title}" required>
                <div class="invalid-feedback title-err-msg">タイトルが不正です</div>
            </div>
        </div>
        
        <div class="row mb-4 justify-content-center">
            <label for="comment" class="col-sm-1 form-label">コメント</label>
            <div class="col-sm-2">
                <textarea id="comment" class="form-control textarea-validate" name="comment" rows="5" cols="40" th:field="*{comment}" required></textarea>
                <div class="invalid-feedback textarea-err-msg">コメントが不正です</div>
            </div>
        </div>
        <div class="row mb-4 justify-content-center">
            <label for="priority" class="col-sm-1 form-label">優先度</label>
            <div class="col-sm-2">
                <select class="form-select" name="priority">
                    <option 
                        th:each="priorityObj : ${priorityList}" 
                        th:value="${priorityObj.priority}" 
                        th:text="${priorityObj.priorityText}" >
                    </option>
                </select><br>
            </div>
        </div>
        <div class="row mb-4 justify-content-center">
            <label for="startTime" class="col-sm-1 form-label">開始日時</label>
            <div class="col-sm-2">
                <input id="startTime" class="form-control startTime-validate" name="startTime" type="datetime-local" th:value="*{startTime}" required>
                <div class="invalid-feedback startTime-err-msg">開始日が不正です</div>
            </div>
        </div>
        <div class="row mb-4 justify-content-center">
            <label for="endTime" class="col-sm-1 form-label">終了日時</label>
            <div class="col-sm-2">
                <input id="endTime" class="form-control endTime-validate" name="endTime" type="datetime-local" th:field="*{endTime}" required>
                <div class="invalid-feedback endTime-err-msg">終了日が不正です</div>
            </div>
        </div>
        <div class="row mb-4 justify-content-center">
            <label for="statusId" class="col-sm-1 form-label">ステータス</label>
            <div class="col-sm-2">
                <select class="form-select" name="statusId">
                    <option 
                        th:each="statusObj : ${statusList}" 
                        th:value="${statusObj.statusId}" 
                        th:text="${statusObj.statusText}" >
                    </option>
                </select><br>
            </div>
        </div>
        <div class="text-center pt-4">
            <input class="btn btn-primary" type="submit" value="登録">
        </div>
    </form>
    <div th:replace="~{block/footer::footer}"></div>
</body>
</html>