<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>タスク管理一覧</title>
</head>
<body>
    <!-- FIXME ヘッダー部を共通化 -->
    
    <!-- 検索キーワード入力欄-->
    <form method="GET" th:action="@{/task/search}">
        <input id="keyword" name="keyword" type="text">
        <input id="clear" name="clear" type="button" value="クリア">
        <input type="submit" value="検索">
    </form>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>タイトル</th>
                <th>優先度</th>
                <th>開始日時</th>
                <th>終了日時</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task : ${taskList}">
                <td th:text="${task.id}">ID</td>
                <td th:text="${task.title}">タイトル</td>
                <td th:text="${task.priority}">優先度</td>
                <td th:text="${task.startTime}">2022/06/01 12:00</td>
                <td th:text="${task.endTime}">2022/06/02 12:00</td>
                <td><a>詳細</a></td>
                <td><a>削除</a></td>
            </tr>
        </tbody>
    </table>
    <!-- FIXME フッター部を共通化 -->
</body>
</html>