<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>タスク管理一覧</title>
</head>
<body>
    <!-- FIXME ヘッダー部を共通化 -->
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>タイトル</td>
                <td>優先度</td>
                <td>開始日時</td>
                <td>終了日時</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ID</td>
                <td>タイトル</td>
                <td>優先度</td>
                <td>2022/06/01 12:00</td>
                <td>2022/06/02 12:00</td>
                <td><a>詳細</a></td>
                <td><a>削除</a></td>
            </tr>
        </tbody>
    </table>
    <!-- FIXME フッター部を共通化 -->
</body>
</html>